# Entorno
NODE_ENV=development
PORT=4000
HOST=0.0.0.0

# Base de datos (PostgreSQL)
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/albio?schema=public"
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=albio

# Autenticación (Better Auth)
BETTER_AUTH_SECRET="albio-secret-key-32-chars-long-minimum-dev"
BETTER_AUTH_URL="http://localhost:4000"

# URLs de Frontend y CORS
FRONTEND_URL="http://localhost:3000"
NEXT_PUBLIC_API_URL="http://localhost:4000"

# Proveedor IA (Dify)
DIFY_API_KEY_ALBIO="app-tu-api-key-de-dify-aqui"
DIFY_API_URL="https://api.dify.ai/v1"
